.DatesContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.matches{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: rgb(201, 54, 54);
}
@media screen and (max-width:500px) {
    .matches{
        width: 0px;
    }
    .DatesContainer{
        width: 100vw;
    }
    
}